.card {
    width: 800px;
    background-color: #fff;
    box-shadow: 0 8px 20px 0 rgb(0, 0, 0 / 15%);
    border-radius: 3px;
    overflow: hidden;

}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

}

.form-control {
    padding: 12px;
    border: none;
    outline: none;
    background: #e5e5e5;
    font-size: 17px;
    border-radius: 3px;

    &::placeholder {
        color: #000;
        font-weight: 400;
    }
}


.btn {
    outline: none;
    color: #fff;
    text-transform: uppercase;
    padding: 12px;
    text-align: center;
    background-color: #ff4b5a;
    border: none;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;

    &:hover {
        opacity: 0.5;
    }
}

@media (max-width: "836px") {
    .card {
        width: 600px;
    }
}